body {
    margin: 0px;
    padding: 20px 100px;
}

h1 {
    text-align: center;
    text-decoration: underline;
}
 
img {
     width: 100%;
     height: auto;
     margin: 0 auto;
}

p {
    font-size: 18px;
    text-align: justify;
}

.btn {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: solid grey 2px;
    border-radius: 50%;
    cursor: pointer;
}

#white {
    background-color: #ffffff;
}

#aqua {
    background-color: #00ffff;
}

#violet {
    background-color: #8a2be2;
}
 
#black {
    background-color: #000000;
}

#color-switcher {
    text-align: right;
}